@charset "UTF-8";

header {
  position: 90%;
}

ul#action-figure {
  width: 90%;
  margin: 0 auto;
  padding: 60px;
  overflow: hidden;
  list-style: none;
}

ul#action-figure li {
  float: left;
  width: 250px;
  height: 250px;
  margin: 10px;
  border: 5px solid#ffffff;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s ease-in;
}

ul#action-figure li span {
  opacity: 0;
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 9pt;
  line-height: 470px;
  padding: 5px;
}

ul#action-figure li:hover {
  -webkit-transform: scale(1.5);
}

ul#action-figure li:hover span {
  opacity: 1;
}

ul#action-figure li#foto01 {
  background: url("../_imagens/action_figure001.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: #ffffff;
}

ul#action-figure li#foto01:hover {
  background-position: 0px 0px;
  background-size: 250px 250px;
}

ul#action-figure li#foto02 {
  background: url("../_imagens/action_figure002.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: 500px 500px;
  background-color: #ffffff;
}

ul#action-figure li#foto02:hover {
  background-position: 0px 0px;
  background-size: 250px 250px;
}

ul#action-figure li#foto03 {
  background: url("../_imagens/action_figure003.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: 500px 500px;
  background-color: #ffffff;
}

ul#action-figure li#foto03:hover {
  background-position: 0px 0px;
  background-size: 250px 250px;
}

ul#action-figure li#foto04 {
  background: url("../_imagens/action_figure004.webp") no-repeat;
  background-position: 50% 50%;
  background-size: 500px 500px;
  background-color: #ffffff;
}

ul#action-figure li#foto04:hover {
  background-position: 0px 0px;
  background-size: 250px 250px;
}

ul#action-figure li#foto05 {
  background: url("../_imagens/action_figure005.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: 500px 500px;
  background-color: #ffffff;
}

ul#action-figure li#foto05:hover {
  background-position: 0px 0px;
  background-size: 250px 250px;
}

ul#action-figure li#foto06 {
  background: url("../_imagens/action_figure006.jpeg") no-repeat;
  background-position: 50% 50%;
  background-size: 500px 500px;
  background-color: #ffffff;
}

ul#action-figure li#foto06:hover {
  background-position: 0px 0px;
  background-size: 250px 250px;
}

ul#action-figure li#foto07 {
  background: url("../_imagens/action_figure007.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: 500px 500px;
  background-color: #ffffff;
}

ul#action-figure li#foto07:hover {
  background-position: 0px 0px;
  background-size: 250px 250px;
}

ul#action-figure li#foto08 {
  background: url("../_imagens/action_figure008.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: 500px 500px;
  background-color: #ffffff;
}

ul#action-figure li#foto08:hover {
  background-position: 0px 0px;
  background-size: 250px 250px;
}

ul#action-figure li#foto09 {
  background: url("../_imagens/action_figure009.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: 500px 500px;
  background-color: #ffffff;
}

ul#action-figure li#foto09:hover {
  background-position: 0px 0px;
  background-size: 250px 250px;
}

ul#action-figure li#foto10 {
  background: url("../_imagens/action_figure010.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: 500px 500px;
  background-color: #ffffff;
}

ul#action-figure li#foto10:hover {
  background-position: 0px 0px;
  background-size: 250px 250px;
}

ul#action-figure li#foto11 {
  background: url("../_imagens/action_figure011.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: 500px 500px;
  background-color: #ffffff;
}

ul#action-figure li#foto11:hover {
  background-position: 0px 0px;
  background-size: 250px 250px;
}

ul#action-figure li#foto12 {
  background: url("../_imagens/action_figure012.jpg") no-repeat;
  background-position: 50% 50%;
  background-size: 500px 500px;
  background-color: #ffffff;
}

ul#action-figure li#foto12:hover {
  background-position: 0px 0px;
  background-size: 250px 250px;
}