@charset "UTF-8";

interface {
    background: url("../_imagens/fundo.jpg");
}

iframe {
  display: block;
  position: relative;
  left: 225px;
  top: -495px;
  width: 470px;
}

div#figures {
  width: 1024px;
  height: 720px;
  margin: auto;
  background: url("../_imagens/thanos.png") no-repeat;

}

/*audio#musica {
  display: block;
  position: relative;
  left: 885px;
  top: 885px;
  width: 280px;
}*/

video#filme {
  display: block;
  position: relative;
  left: 80px;
  top: 65px;
  width: 455px;
}
